{{user.login}}'s latest push to {{repo}}@{{branch}} is now runnable.
There {{commitsFormat commitLog}} in this push.
Click <a href="http://runnable.io/{{owner.login}}/boxSelection/{{repo}}/{{branch}}/{{encode headCommit.message}}/{{headCommit.id}}">here</a>
to choose a box to run {{branch}}.