{{user.login}}'s <a href="{{wrapGitHubLink headCommit.url}}">changes</a> ({{commitMessage headCommit.message}}{{{moreChangesHipchat repo commitLog}}}) to {{repo}} ({{branch}}) are ready.
<a href="{{domain}}/{{owner.login}}/boxSelection/{{repoName}}/{{encode branch}}/{{encode headCommit.message}}/{{headCommit.id}}">Choose a server to run {{branch}}</a>.