{{user.login}}'s <a href="{{wrapGitHubLink headCommit.url}}">changes</a> ({{commitMessage headCommit.message}}{{{moreChangesHipchat repo commitLog}}}) to {{repo}} ({{branch}}) are ready.
<a href="http://{{domain}}/{{owner.login}}/serverSelection/{{repoName}}?branch={{encode branch}}&message={{encode headCommit.message}}&commit={{headCommit.id}}">Choose a server to run {{branch}}</a>.