{{user.login}}'s latest push to {{repo}}@{{branch}} is now runnable.
There {{commitsFormat commitLog}} in this push.
The change is deployed on
{{#each instances}}
 <a href="http://{{domain}}/{{this.owner.username}}/{{this.name}}">{{this.name}}</a>
{{/each}}.
Or you can click <a href="http://{{domain}}/{{instances.[0].owner.username}}/boxSelection/{{repo}}/{{branch}}/{{encode headCommit.message}}/{{headCommit.id}}">here</a> to choose another Box to run {{branch}} also.